nextflow
.nextflow*
template-workflow
.*.swp
.*.swo
*.pyc
*.pyo
.DS_store

test_results*
work*/
test_results_unaligned/params.json
test_results_unaligned/execution/report.html
test_results_unaligned/execution/timeline.html
test_results_unaligned/execution/trace.txt
